body,
html {
  margin: 0;
  padding: 0;

  --font-family: "Merriweather", serif;
  font-family: var(--font-family);

  --text-primary: black;
  --text-secondary: rgba(0, 0, 0, 0.7);

  --primary: #4e342e;
  --primary-light: #7b5e57;
  --primary-dark: #260e04;
  --secondary: #00796b;
  --secondary-light: #48a999;
  --secondary-dark: #004c40;
  --danger: #b71c1c;
  --danger-light: #f05545;
  --danger-dark: #7f0000;
  background: #f2eeed;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card {
  background: white;
  margin: 1px;
  border-radius: 3px;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable:hover {
  background: #f9f9f9;
}

.card.clickable:active {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}

.list-heading {
  color: var(--primary-dark);
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px 6px;
}

.header {
  position: fixed;
  top: 0;
  height: 60px;
  padding: 10px 32px;
  background-color: var(--primary);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 18px;
}

.header a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}

.header a.create {
  background: var(--secondary);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
}

.header a.create svg {
  fill: white;
  height: 14px;
  width: 14px;
  vertical-align: text-top;
  margin-top: 1px;
}

.header svg {
  width: 24px;
  height: 24px;
}

#content {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  padding: 12px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-header {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-secondary);
}

.task-card {
  margin: 1px 0;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  max-height: 100px;
  background: white;
  overflow: hidden;
}

.task-card .body {
  flex: 1 1 0;
  padding: 10px 0;
}

.task-card .cb-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card .cb {
  height: 20px;
  width: 20px;
  margin: 10px;
  border: 2px solid #999;
  border-radius: 3px;
  background-color: white;
  position: relative;
}

.task-card.done .cb::after {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 2px;
  background-color: #999;
}

.task-card.done {
  transition: all 0.4s ease-in;
  background: green !important;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.task-card:hover {
  background-color: #f9f9f9;
}

.title {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 14px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group {
  margin: 12px 0;
}

form label {
  color: var(--text-secondary);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

select {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

input,
textarea,
select {
  font-family: var(--font-family);
  width: 100%;
}

textarea {
  resize: none;
}

.form-group input,
.form-group textarea {
  padding: 6px;
  border: 1px solid #ccc;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: var(--primary);
  height: 60px;
  z-index: 100;
}

#bottom-nav a {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

#bottom-nav svg {
  fill: rgba(255, 255, 255, 0.7);
  width: 24px;
  height: 24px;
  display: block;
}

#bottom-nav a.active svg {
  fill: white;
}

#bottom-nav a span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  margin-top: 2px;
}

#bottom-nav a.active span {
  color: white;
  font-weight: bold;
}

button {
  font-family: var(--font-family);
  min-width: 70px;
  border: 2px solid #ccc;
  background-color: white;
  padding: 8px 16px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

button.primary {
  background-color: var(--secondary);
  border: none;
  color: rgba(255, 255, 255, 0.98);
}

button.primary:hover {
  background-color: var(--secondary-dark);
}

button.danger {
  background-color: var(--danger);
  border: none;
  color: rgba(255, 255, 255, 0.98);
}

button.danger:hover {
  background-color: var(--danger-dark);
}

.edit-form .buttons {
  display: flex;
  justify-content: space-between;
}

.archived-tasks .card {
  padding: 12px 16px;
}

.settings .card {
  padding: 12px 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.settings-modal .card {
  max-width: 100%;
  width: 800px;
  padding: 20px;
  margin: 16px;
}
